<div class="container">
    <div class="row justify-content-center">
        <form class="col-lg-8 col-md-10 col-sm-12">
            <div class="form-group row">
                <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center">
                    <div class="image-frame overflow-hidden d-flex justify-content-center align-items-center">
                        <app-upload-image
                                [defaultImage]="formModel.photo_url"
                                [ratioHigh]="2"
                                [ratioWidth]="2"
                                (onSubmit)="getCroppedImage($event)">
                        </app-upload-image>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column justify-content-center text-center text-md-start">
                    <h4>{{formModel.user_roles_name}}</h4>
                    <span><i class="fas fa-envelope"></i> {{ formModel.email }}</span>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-md-4 required">Nama</label>
                <div class="col-md-8">
                    <input [(ngModel)]="formModel.name" type="text" id="name" name="name" class="form-control"
                           [ngClass]="{ 'disabled' : isDisabledForm}"
                           placeholder="Nama Pengguna">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-md-4 required">Email</label>
                <div class="col-md-8">
                    <input [(ngModel)]="formModel.email" type="email" id="email" name="email" class="form-control"
                           placeholder="Email Pengguna">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone_number" class="col-md-4">Phone Number</label>
                <div class="col-md-8">
                    <input [(ngModel)]="formModel.phone_number" type="text" id="phone_number" name="phone_number"
                           class="form-control"
                           placeholder="No Telepon">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-md-4">Password</label>
                <div class="col-md-8">
                    <input [(ngModel)]="formModel.password" type="password" id="password" name="password"
                           class="form-control"
                           [ngClass]="{ 'disabled' : isDisabledForm}"
                           placeholder="Password">
                    <small class="form-text text-muted">
                        Kosongi password jika tidak diubah
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-8 offset-md-4 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" [ngClass]="{ 'disabled' : isDisabledForm}"
                            (click)="save()">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!isLoading">
                            <em class="fas fa-save"></em>
                            Simpan
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
