<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header align-items-center d-block d-md-flex justify-content-between">
                    <h1>Daftar Voucher</h1>
                    <div class="row g-1 w-md-600px">
                        <div class="col-6 col-md-5">
                            <app-daterangepicker [startDate]="filter.start_time" [endDate]="filter.end_time"
                                                 [showRanges]="'true'" (onChange)="filterByPeriod($event)"
                                                 [isFilter]="true">
                            </app-daterangepicker>
                        </div>
                        <div class="col-6 col-md-4">
                            <ng-select class="filter-select" [items]="customers" (change)="filterByCustomer($event)"
                                       id="customer_id"
                                       placeholder="Pilih Customer" bindLabel="name" bindValue="id"
                                       [loading]="loadingCustomer" [searchable]="false" [multiple]="true">
                                <ng-template ng-header-tmp>
                                    <input class="form-control form-select-sm" type="text" debounceKeyUp
                                           (onEvent)="getCustomers($event.target.value)"/>
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-12 col-md-3 d-flex">
                            <button type="button" class="btn btn-sm btn-primary w-100" (click)="formCreate()">
                                <em class="fa fa-plus align-middle"></em> Tambah Voucher
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="loadingProgress" [style.width.%]="loadingProgress"></div>
                    <div class="table-responsive">
                        <table class="table table-hover" datatable [dtOptions]="dtOptions">
                            <thead class="thead-light">
                            <tr>
                                <th>No</th>
                                <th>Voucher</th>
                                <th>Customer</th>
                                <th>Total Voucher</th>
                                <th>Periode</th>
                                <th>Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let voucher of listVoucher;">
                                <td class="align-middle">{{voucher.no}}</td>
                                <td class="align-middle">
                                    <div class="image-promo rounded">
                                        <div>
                                            <img *ngIf="voucher.photo_url != null" src="{{voucher.photo_url}}" alt="">
                                        </div>
                                        <p class="status">Voucher</p>
                                        <p class="nominal">
                                            {{voucher.nominal_rupiah | currency:'Rp. '}}
                                        </p>
                                    </div>
                                </td>
                                <td class="align-middle">{{voucher.customer_name}}</td>
                                <td class="align-middle">{{voucher.total_voucher | number}}</td>
                                <td class="align-middle">{{voucher.start_time | date:'dd-MM-yyyy'}} s.d
                                    {{voucher.end_time | date:'dd-MM-yyyy'}}</td>
                                <td class="align-middle">
                                    <div class="d-flex">
                                        <button class="btn btn-light btn-sm me-2" (click)="formUpdate(voucher)"
                                                ngbTooltip="Ubah">
                                            <em class="fa fa-edit"></em>
                                        </button>
                                        <button class="btn btn-danger btn-sm" (click)="deleteVoucher(voucher.id)"
                                                ngbTooltip="Hapus">
                                            <em class="fa fa-trash"></em>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" *ngIf="showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header  d-flex justify-content-between">
                    <h1>{{titleForm}}</h1>
                </div>
                <div class="card-body">
                    <app-form-voucher [voucherId]="voucherId" (afterSave)="onAfterSave($event)"></app-form-voucher>
                </div>
            </div>
        </div>
    </div>
</div>
