.btn-reset {
  background-color: #ffffff;
  border-left: none;
}

.border-right-none {
  border-right: none;
}

.fa-times {
  cursor: pointer;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background: #2c8da2 !important;
}

.daterangepickere td.active, .daterangepicker td.active:hover {
  background: #2c8da2 !important;
}
